# Node
node_modules/

src/less/automatic/*less
logs/*html
logs/*
src/template/critical-css/*
docs

# Dev
public/dev

# Libs
src/js/libs/*

# Generated website
public/dev/*
# public/prod/*

# Maps
*.map.*
*.map

# Logs
logs
validation-report.json
validation-status.json

# Manifest
package-lock.json
yarn-error.log
yarn.lock

# Favicons
src/images/favicon/*