- var page_title = "Game: Snake"
- var page_description = false
- var page_keywords = false
- var page_critical_css = false

include includes/begin.pug

main.page-content.relative.game.game--list

    :printFilesLink

include includes/scripts.pug
include includes/end.pug