footer.footer
    .wrap.wrap-footer.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur temporibus numquam iure beatae qui accusamus, enim quo odit? Rerum ullam amet tempore, cumque a dolor enim labore veniam vitae quod.